server {
    listen       {{ nginx_snake_listen_port }} default_server;
    listen       [::]:{{ nginx_snake_listen_port }} default_server;
    server_name  _;

    root         {{ nginx_snake_document_root }};
    index        index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
